In [2]:
import pandas as pd
import numpy as np
import random

In [50]:
names = pd.read_csv('initial_babynames.csv', sep=',')
   
my_randoms=[]    
for i in range (len(names.name)):    
    my_randoms.append(random.randrange(10,99,1))    
    
names['age'] = my_randoms
names = names.drop(['percent', 'year'], axis = 1)
names['sex'] = names['sex'].replace("boy", "male")
names['sex'] = names['sex'].replace("girl", "female")
names = names[['name', 'age', 'sex']]

#pick 10k random names
head = names.sample(frac=1).head(10000)

In [51]:
names.to_csv("database.csv")
names.to_json("database.json", orient = 'index')
head.to_csv("short_data.csv")
head.to_json("short_data.json", orient = 'records')

In [52]:
head[head.sex == 'female']

              name  age     sex
136875    Clifford   58  female
141951     Valerie   84  female
171789       Cleta   90  female
146729      Johnie   14  female
177119   Christine   46  female
133596       Ester   31  female
132569      Jeanne   65  female
132129       Mayme   39  female
148357         Ivy   75  female
152419       Beryl   78  female
149648      Lilian   82  female
164606       Adela   27  female
152139       Essie   19  female
129332     Adaline   82  female
169510       Retha   90  female
130362   Ernestine   62  female
153335        Bess   96  female
157736       Mavis   21  female
183205      Jackie   12  female
178115      Myrtle   55  female
138270      Elnora   89  female
173905   Carmelita   34  female
129890      Lollie   43  female
182041   Geraldine   24  female
133750      Dottie   47  female
144013        Edna   69  female
171784       Bulah   23  female
163725      Adelle   83  female
160091        Rosa   31  female
173685        Gwen   48  female
...            ...  ...     ...
165780       Elisa   20  female
180020       Alice   20  female
180412     Valerie   72  female
161122   Christine   64  female
159229      Dollie   94  female
158558    Savannah   77  female
153400     Loraine   76  female
144120        Lela   72  female
179318      Carole   16  female
148473        Iona   10  female
179544     Camille   13  female
141152     Loretta   16  female
160912       Irine   80  female
163806         Fae   72  female
157062      Marion   68  female
152611     Eulalia   20  female
176918   Christeen   56  female
173550       Adell   41  female
155172     Matilda   70  female
154624       Fairy   18  female
150029       Irene   44  female
165764    Vivienne   39  female
171430    Marianne   20  female
180482        Lynn   51  female
179540     Minerva   12  female
180770        Dena   88  female
140434    Gretchen   17  female
154027   Catherine   96  female
133567        Hope   77  female
177743  Concepcion   21  female

[2946 rows x 3 columns]