In [46]:
import pandas as pd
import numpy as np
import random

In [79]:
names = pd.read_csv('mongo/babynames.csv', sep=',')
   
my_randoms=[]    
for i in range (len(names.name)):    
    my_randoms.append(random.randrange(10,99,1))    
    
names['Age'] = my_randoms
names = names.drop(['percent', 'year'], axis = 1)
names['sex'] = names['sex'].replace("boy", "male")
names['sex'] = names['sex'].replace("girl", "female")

In [83]:
names.to_csv("database.csv")
names.to_json("database.json")

In [81]:
names.describe

<bound method NDFrame.describe of               name   sex  Age
0             John  male   69
1          William  male   83
2            James  male   19
3          Charles  male   22
4           George  male   98
5            Frank  male   55
6           Joseph  male   31
7           Thomas  male   58
8            Henry  male   21
9           Robert  male   31
10          Edward  male   90
11           Harry  male   63
12          Walter  male   41
13          Arthur  male   66
14            Fred  male   12
15          Albert  male   38
16          Samuel  male   39
17           David  male   98
18           Louis  male   18
19             Joe  male   95
20         Charlie  male   81
21        Clarence  male   12
22         Richard  male   35
23          Andrew  male   73
24          Daniel  male   90
25          Ernest  male   56
26            Will  male   60
27           Jesse  male   30
28           Oscar  male   74
29           Lewis  male   58
...            ...   ...  ...
120939        Isai  male   44
120940        Kian  male   68
120941     Rasheed  male   75
120942      Blaise  male   53
120943      Brodie  male   64
120944      Donnie  male   38
120945      Isidro  male   59
120946      Jaeden  male   68
120947      Javion  male   92
120948      Jimmie  male   23
120949     Johnnie  male   73
120950     Kennedy  male   76
120951      Paxton  male   96
120952     Tyrique  male   24
120953     Andreas  male   93
120954    Augustus  male   80
120955       Jalon  male   63
120956       Jamir  male   35
120957    Valentin  male   58
120958      Korbin  male   54
120959      Lawson  male   83
120960        Fred  male   34
120961     Herbert  male   40
120962       Maxim  male   30
120963       Bruno  male   20
120964     Donavon  male   36
120965     Javonte  male   32
120966  Alexzander  male   11
120967         Ean  male   22
120968      Kamren  male   53

[120969 rows x 3 columns]>