In [2]:
import pandas as pd
import numpy as np
import random

In [46]:
names = pd.read_csv('initial_babynames.csv', sep=',')
   
my_randoms=[]    
for i in range (len(names.name)):    
    my_randoms.append(random.randrange(10,99,1))    
    
names['Age'] = my_randoms
names = names.drop(['percent', 'year'], axis = 1)
names['sex'] = names['sex'].replace("boy", "male")
names['sex'] = names['sex'].replace("girl", "female")
head = names.sample(frac=1).head(10000)

In [47]:
names.to_csv("database.csv")
names.to_json("database.json", orient = 'index')
head.to_csv("short_data.csv")
head.to_json("short_data.json", orient = 'records')

In [48]:
head[head.sex == 'female']

            name     sex  Age
143790    Daphne  female   97
139541    Glenna  female   11
170958     Greta  female   70
180451    Bertie  female   50
154416     Mandy  female   16
147834    Nevada  female   73
179042   Lillian  female   75
150470  Gretchen  female   19
140742    Montie  female   83
134564    Lonnie  female   50
181011     Joyce  female   59
157702   Jaunita  female   66
148519       Lue  female   64
143741    Verona  female   48
159388     Leora  female   91
138768   Garnett  female   54
169685    Sammie  female   70
144058     Mamie  female   15
153296   Pearlie  female   62
140433    Cordie  female   59
158862    Mossie  female   81
155826    Hessie  female   33
142065     Viola  female   79
168442    Garnet  female   90
178454    Amanda  female   71
182894     Altha  female   24
182389     Eddie  female   63
176832    Almeda  female   64
134512   Letitia  female   52
168830   Deborah  female   86
...          ...     ...  ...
181078     Joann  female   14
163071      Ella  female   90
181116    Bessie  female   52
156513      Hope  female   71
144833     Harry  female   41
180030   Beverly  female   26
139347     Linda  female   78
161083    Vivian  female   89
167128     Janet  female   63
144536     Wilda  female   77
153168    Amanda  female   16
132562   Camilla  female   27
143105     Hilda  female   73
180704      Paul  female   70
163241      Elma  female   48
169400       Oma  female   88
157344    Jimmie  female   91
141548   Ottilie  female   13
156912  Marcelle  female   67
155286  Harriett  female   76
157407      Vada  female   12
177399   Earlene  female   16
143442      Inga  female   61
163380    Alvina  female   25
147786     Thora  female   55
171788      Nova  female   62
141476   Octavia  female   96
137697   Felicia  female   85
131505     Wilma  female   58
179947      Arla  female   71

[2966 rows x 3 columns]